<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title text-uppercase">
                            <a class="mr-1 px-1" (click)="back()">
                                <i class="fa fa-arrow-left"></i>
                            </a>
                            {{title}}
                        </h4>
                        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                              <div class="mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource" class="col-md-12">
                                  <ng-container matColumnDef="name" >
                                    <th mat-header-cell *matHeaderCellDef class="text-info"> Name </th>
                                    <td mat-cell *matCellDef="let row"> {{row.poolName}} </td>
                                  </ng-container>
                              
                                  <ng-container matColumnDef="entry_fee">
                                    <th mat-header-cell *matHeaderCellDef class="text-info px-2"> Entry Fee  </th>
                                    <td mat-cell *matCellDef="let row" class="px-2"> {{row.poolEntryAmount}} </td>
                                  </ng-container>
                              
                                  <ng-container matColumnDef="pool_Price">
                                    <th mat-header-cell *matHeaderCellDef class="text-info px-2"> Pool Price </th>
                                    <td mat-cell *matCellDef="let row" class="px-2"> {{row.poolPrice}} </td>
                                  </ng-container>
                              
                                  <ng-container matColumnDef="play_time">
                                    <th mat-header-cell *matHeaderCellDef class="text-info px-2"> Play Time </th>
                                    <td mat-cell *matCellDef="let row" class="px-2"> {{row.playTime}} </td>
                                  </ng-container>

                                  <ng-container matColumnDef="wait_time">
                                    <th mat-header-cell *matHeaderCellDef class="text-info px-2"> Wait Time </th>
                                    <td mat-cell *matCellDef="let row" class="px-2"> {{row.waitTime}} </td> 
                                  </ng-container>

                                  <ng-container matColumnDef="winner_Count">
                                    <th mat-header-cell *matHeaderCellDef class="text-info px-2"> Winner Count </th>
                                    <td mat-cell *matCellDef="let row" class="px-2"> {{row.winnerCount}} </td>
                                  </ng-container>
    
                                  <ng-container matColumnDef="allowed_Player">
                                    <th mat-header-cell *matHeaderCellDef class="text-info px-2"> Allowed Player </th>
                                    <td mat-cell *matCellDef="let row" class="px-2"> {{row.allowedPlayerPerTable}} </td>
                                  </ng-container>

                                   <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef class="text-info px-2"> Action </th>
                                    <td mat-cell *matCellDef="let row" class="px-2"> 
                                        <button (click)="doDelete(row.poolId,row.tableId)" mat-raised-button type="button"
                                                matTooltip="Delete Table" [matTooltipPosition]="'above'"
                                                class="btn btn-danger btn-sm btn-just-icon btn-round">
                                                <i class="material-icons">delete</i>
                                        </button>
                                    </td> 
                                  </ng-container>
                              
                                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            
                                </table>
                              
                                <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
                              </div>
                        </div>
                    </div>
                </div> <!-- container -->
            </div>
        </div>
    </div>
</div>