<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
            </ul>
        </nav>
        <div class="copyright pull-right">
            2021 © All rights reserved
        </div>
    </div>
</footer>
