<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">
                      <a class="mr-1 px-1" (click)="back()">
                         <i class="fa fa-arrow-left"></i>
                      </a>
                       {{title}}
                  </h4>
            </div>
            <div class="card-body">
                
            </div>
        </div>
    </div>
</div>