<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title text-uppercase">
                            <a class="mr-1 px-1" (click)="back()">
                                <i class="fa fa-arrow-left"></i>
                            </a>
                            {{title}}
                            <a mat-raised-button type="button"
                                class="btn bg-light text-dark btn-round text-uppercase pull-right btn-sm"
                                data-toggle="modal" data-target="#create-pool"><b>Create Pool</b></a>
                        </h4>
                        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource" class="col-md-12">

                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef class="text-info"> Name </th>
                                        <td mat-cell *matCellDef="let row"> {{row.poolName}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef class="text-info"> Action </th>
                                        <td mat-cell *matCellDef="let row">
                                            <button (click)="createPoolTable(row.id)" mat-raised-button type="button"
                                                matTooltip="Add Table" [matTooltipPosition]="'above'"
                                                class="btn btn-primary btn-sm btn-just-icon btn-round ml-2">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button [ngClass]="{'disabled' : !row.tables}" (click)="viewPoolTable(row.tables)" mat-raised-button type="button"
                                                matTooltip="View Table" [matTooltipPosition]="'below'"
                                                class="btn btn-success btn-sm btn-just-icon btn-round ml-2">
                                                <i class="material-icons">visibility</i>
                                            </button>
                                            <button (click)="doDelete(row.id)" mat-raised-button type="button"
                                                matTooltip="Delete Pool" [matTooltipPosition]="'above'"
                                                class="btn btn-danger btn-sm btn-just-icon btn-round ml-2">
                                                <i class="material-icons">delete</i>
                                            </button>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                </table>

                                <mat-paginator #paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-s1 modal-one create-pool" tabindex="-1" role="dialog" aria-labelledby="myCenterModalLabel"
    aria-hidden="true" style="display: none;" id="create-pool">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-uppercase" id="myCenterModalLabel"><b>Create Pool</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

                <div class="col-xl-12 ctm-form">
                    <div class="row justify-content-center">
                        <div class="col-xl-12">
                            <div class="ctm-form-div">

                                <form [formGroup]="frm" (ngSubmit)="submitPool()">
                                    <mat-form-field>
                                        <mat-label class="text-info">Pool Name :</mat-label>
                                        <select matNativeControl formControlName="poolName" required
                                            (change)="poolNameChanged($event)">
                                            <option value="" disabled>Select Value</option>
                                            <option *ngFor="let option of poolList" value="{{option.value}}">
                                                {{option.name}}
                                            </option>
                                        </select>
                                    </mat-form-field>
                                    <div class="form-group text-center">
                                        <div class="button-list">
                                            <button type="submit" [ngClass]="{'disabled': !frm.valid}"
                                                class="btn btn-success btn-md">Submit</button>
                                            <button class="btn btn-danger btn-md" data-dismiss="modal"
                                                aria-hidden="true" id="close-settlement">Close</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade modal-s1 modal-one table-pool" tabindex="-1" role="dialog" aria-labelledby="myCenterModalLabel"
    aria-hidden="true" style="display: none;" id="table-pool">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-uppercase" id="myCenterModalLabel"><b>Create Table</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

                <div class="col-xl-12 ctm-form">
                    <div class="row justify-content-center">
                        <div class="col-xl-12">
                            <div class="ctm-form-div">
                                <form [formGroup]="frmPoolTable" (ngSubmit)="submitPoolTable()">
                                    <div class="col-md-12">
                                        <mat-form-field>
                                            <mat-label class="text-dark">Entry Fee</mat-label>
                                            <input matInput placeholder="Enter entry fee here" type="number" required
                                                formControlName="poolEntryAmount">
                                            <mat-hint class="text-danger"
                                                *ngIf="frmEntryFee.invalid && (frmEntryFee.dirty || frmEntryFee.touched)">
                                                Invalid
                                                Value!</mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-form-field class="">
                                            <mat-label class="text-dark">Pool Price</mat-label>
                                            <input matInput placeholder="Enter pool price here" type="number" required
                                                formControlName="poolPrice">
                                            <mat-hint class="text-danger"
                                                *ngIf="frmPoolPrice.invalid && (frmPoolPrice.dirty || frmPoolPrice.touched)">
                                                Invalid Value!</mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-form-field class="">
                                            <mat-label class="text-dark">Wait Time</mat-label>
                                            <input matInput placeholder="Enter wait time here" type="type" required
                                                formControlName="waitTime">
                                            <mat-hint class="text-danger"
                                                *ngIf="frmWaitTime.invalid && (frmWaitTime.dirty || frmWaitTime.touched)">
                                                Invalid Value!</mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-form-field class="">
                                            <mat-label class="text-dark">Play Time</mat-label>
                                            <input matInput placeholder="Enter play time here" type="type" required
                                                formControlName="playTime">
                                            <mat-hint class="text-danger"
                                                *ngIf="frmPlayTime.invalid && (frmPlayTime.dirty || frmPlayTime.touched)">
                                                Invalid Value!</mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-form-field class="">
                                            <mat-label class="text-dark">Winner Count</mat-label>
                                            <input matInput placeholder="Enter Winner Count here" type="type" required
                                                formControlName="winnerCount">
                                            <mat-hint class="text-danger"
                                                *ngIf="frmWinnerCount.invalid && (frmWinnerCount.dirty || frmWinnerCount.touched)">
                                                Invalid Value!</mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-form-field class="">
                                            <mat-label class="text-dark">Allowed Player</mat-label>
                                            <input matInput placeholder="Enter Allowed Player here" type="type" required
                                                formControlName="allowedPlayerPerTable">
                                            <mat-hint class="text-danger"
                                                *ngIf="frmAllowPlayer.invalid && (frmAllowPlayer.dirty || frmAllowPlayer.touched)">
                                                Invalid Value!</mat-hint>
                                        </mat-form-field>
                                    </div>

                                    <div class="text-center">
                                        <div class="button-list">
                                            <button type="submit" [ngClass]="{'disabled': !frmPoolTable.valid}"
                                                class="btn btn-success btn-md">Submit</button>
                                            <button class="btn btn-danger btn-md" data-dismiss="modal"
                                                aria-hidden="true" id="close-settlement">Close</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade modal-s1 modal-one view-pool" tabindex="-1" role="dialog" aria-labelledby="myCenterModalLabel"
    aria-hidden="true" style="display: none;" id="view-pool">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-uppercase" id="myCenterModalLabel"><b>Pool Detail</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <div class="col-xl-12 bg-white py-2">
                        <!-- <div class="mat-elevation-z8"> -->
                        <table mat-table [dataSource]="dataSourceTable" class="col-md-12">
                            <ng-container matColumnDef="entry_fee">
                                <th mat-header-cell *matHeaderCellDef class="bg-danger text-white px-2"> Entry Fee </th>
                                <td mat-cell *matCellDef="let row" class="px-2"> {{row.poolEntryAmount}} </td>
                            </ng-container>

                            <ng-container matColumnDef="pool_Price">
                                <th mat-header-cell *matHeaderCellDef class="bg-danger text-white px-2"> Pool Price
                                </th>
                                <td mat-cell *matCellDef="let row" class="px-2"> {{row.poolPrice}} </td>
                            </ng-container>

                            <ng-container matColumnDef="play_time">
                                <th mat-header-cell *matHeaderCellDef class="bg-danger text-white px-2"> Play Time </th>
                                <td mat-cell *matCellDef="let row" class="px-2"> {{row.playTime}} </td>
                            </ng-container>

                            <ng-container matColumnDef="wait_time">
                                <th mat-header-cell *matHeaderCellDef class="bg-danger text-white px-2"> Wait Time </th>
                                <td mat-cell *matCellDef="let row" class="px-2"> {{row.waitTime}} </td>
                            </ng-container>

                            <ng-container matColumnDef="winner_Count">
                                <th mat-header-cell *matHeaderCellDef class="bg-danger text-white px-2"> Winner Count </th>
                                <td mat-cell *matCellDef="let row" class="px-2"> {{row.winnerCount}} </td>
                            </ng-container>

                            <ng-container matColumnDef="allowed_Player">
                                <th mat-header-cell *matHeaderCellDef class="bg-danger text-white px-2"> Allowed Player </th>
                                <td mat-cell *matCellDef="let row" class="px-2"> {{row.allowedPlayerPerTable}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumnsTable"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsTable;"></tr>
                        </table>

                        <mat-paginator #paginatorTable [pageSizeOptions]="[5,10]"></mat-paginator>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->