<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title text-uppercase">
                            <a class="mr-1 px-1" (click)="back()">
                                <i class="fa fa-arrow-left"></i>
                            </a>
                            {{title}}
                            <a mat-raised-button type="button"
                            class="btn bg-light text-dark btn-round text-uppercase pull-right btn-sm"
                            data-toggle="modal" data-target="#create-coupon"><b>Create Coupon</b></a>
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                              <div class="mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource" class="col-md-12">
                                  <ng-container matColumnDef="couponId" >
                                    <th mat-header-cell *matHeaderCellDef class="text-info"> Coupon Id </th>
                                    <td mat-cell *matCellDef="let row"> {{row.couponId}} </td>
                                  </ng-container>
                              
                                  <ng-container matColumnDef="code">
                                    <th mat-header-cell *matHeaderCellDef class="text-info px-2"> Code </th>
                                    <td mat-cell *matCellDef="let row" class="px-2"> {{row.code}} </td>
                                  </ng-container>
                              
                                  <ng-container matColumnDef="desc">
                                    <th mat-header-cell *matHeaderCellDef class="text-info px-2"> Description </th>
                                    <td mat-cell *matCellDef="let row" class="px-2"> {{row.desc}} </td>
                                  </ng-container>
                              
                                  <ng-container matColumnDef="expiredAt">
                                    <th mat-header-cell *matHeaderCellDef class="text-info px-2"> Expired At </th>
                                    <td mat-cell *matCellDef="let row" class="px-2"> {{row.expiredAt}} </td>
                                  </ng-container>

                                   <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef class="text-info px-2"> Action </th>
                                    <td mat-cell *matCellDef="let row" class="px-2"> 
                                        <button (click)="createPoolTable(row.id)" mat-raised-button type="button"
                                                matTooltip="Add Table" [matTooltipPosition]="'above'"
                                                class="btn btn-primary btn-sm btn-just-icon btn-round ml-2">
                                               <i class="material-icons">edit</i>
                                        </button>
                                        <button (click)="doDelete(row.poolId,row.tableId)" mat-raised-button type="button"
                                                matTooltip="Delete Table" [matTooltipPosition]="'above'"
                                                class="btn btn-danger btn-sm btn-just-icon btn-round">
                                                <i class="material-icons">delete</i>
                                        </button>
                                    </td> 
                                  </ng-container>
                              
                                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            
                                </table>
                              
                                <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
                              </div>
                        </div>
                    </div>
                </div> <!-- container -->
            </div>
        </div>
    </div>
</div> 


<div class="modal fade modal-s1 modal-one create-coupon" tabindex="-1" role="dialog" aria-labelledby="myCenterModalLabel"
    aria-hidden="true" style="display: none;" id="create-coupon">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-uppercase" id="myCenterModalLabel"><b>Create Coupon</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

                <div class="col-xl-12 ctm-form">
                    <div class="row justify-content-center">
                        <div class="col-xl-12">
                            <div class="ctm-form-div">
                                <form [formGroup]="frm" (ngSubmit)="submitCoupon()">
                                    <div class="col-md-12">
                                        <mat-form-field>
                                            <mat-label class="text-dark">Code</mat-label>
                                            <input matInput placeholder="Enter entry code" type="text" required
                                                formControlName="code">
                                            <mat-hint class="text-danger"
                                                *ngIf="frmCode.invalid && (frmCode.dirty || frmCode.touched)">
                                                Invalid Value!</mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-form-field class="">
                                            <mat-label class="text-dark">Description</mat-label>
                                            <input matInput placeholder="Enter pool description" type="text" required
                                                formControlName="desc">
                                            <mat-hint class="text-danger"
                                                *ngIf="frmDesc.invalid && (frmDesc.dirty || frmDesc.touched)">
                                                Invalid Value!</mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-form-field class="">
                                            <mat-label class="text-dark">Expired At</mat-label>
                                            <input matInput placeholder="Enter wait expired" type="datetime-local" required
                                                formControlName="expiredAt">
                                            <mat-hint class="text-danger"
                                                *ngIf="frmExpiredAt.invalid && (frmExpiredAt.dirty || frmExpiredAt.touched)">
                                                Invalid Value!</mat-hint>
                                        </mat-form-field>
                                    </div>
                                   
                                    <div class="text-center">
                                        <div class="button-list">
                                            <button type="submit" [ngClass]="{'disabled': !frm.valid}"
                                                class="btn btn-success btn-md">Submit</button>
                                            <button class="btn btn-danger btn-md" data-dismiss="modal"
                                                aria-hidden="true" id="create-coupon">Close</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
