<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title text-uppercase">
              <a class="mr-1 px-1" (click)="back()">
                <i class="fa fa-arrow-left"></i>
              </a>
              {{title}}
            </h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" class="col-md-12">
                  <ng-container matColumnDef="userId">
                    <th mat-header-cell *matHeaderCellDef class="text-info px-2"> User ID </th>
                    <td mat-cell *matCellDef="let row" class="px-2"> {{getLastChar(row.userId)}} </td>
                  </ng-container>

                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef class="text-info px-2"> Name </th>
                    <td mat-cell *matCellDef="let row" class="px-2"> {{row.name || '--'}} </td>
                  </ng-container>

                  <ng-container matColumnDef="mobile">
                    <th mat-header-cell *matHeaderCellDef class="text-info px-2"> Mobile </th>
                    <td mat-cell *matCellDef="let row" class="px-2"> {{row.mobileNo || '--'}} </td>
                  </ng-container>

                  <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef class="text-info px-2"> Email </th>
                    <td mat-cell *matCellDef="let row" class="px-2"> {{row.email || '--'}} </td>
                  </ng-container>

                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="text-info"> Action </th>
                    <td mat-cell *matCellDef="let row">
                      <span class="row">

                        <!-- <button class=""  mat-raised-button type="button"
                          matTooltip="Active - Inactive" [matTooltipPosition]="'above'"
                          class="btn btn-success btn-sm btn-just-icon btn-round ml-2">
                          <i class="material-icons">cancel</i>
                          <i class="material-icons">check_circle</i>
                        </button> -->

                        <button class="" [ngClass]="{'disabled' : !row.profilePhotoName}" (click)="viewProfile(row.userId,row.profilePhotoName)" mat-raised-button type="button"
                          matTooltip="Profile" [matTooltipPosition]="'below'"
                          class="btn btn-primary btn-sm btn-just-icon btn-round ml-2">
                          <i class="material-icons">person</i>
                        </button>

                        <button class=""  [ngClass]="{'disabled' : !row.userKyc}" (click)="viewKycDetail(row.userKyc)" mat-raised-button type="button"
                          matTooltip="KYC" [matTooltipPosition]="'above'"
                          class="btn btn-info btn-sm btn-just-icon btn-round ml-2">
                          <i class="material-icons">task</i>
                        </button>

                        <button class="" [ngClass]="{'disabled' : !row.userBankDetails}" (click)="viewBankDetail(row.userBankDetails)" mat-raised-button type="button"
                          matTooltip="Bank Details" [matTooltipPosition]="'below'"
                          class="btn btn-warning btn-sm btn-just-icon btn-round ml-2">
                          <i class="material-icons">account_balance</i>
                        </button>
                        <!-- <button (click)="doDelete(row.id)" mat-raised-button type="button" matTooltip="Delete Table"
                          [matTooltipPosition]="'above'" class="btn btn-danger btn-sm btn-just-icon btn-round ml-2">
                          <i class="material-icons">delete</i>
                        </button> -->
                      </span>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- bank detail -->
<div class="modal fade modal-s1 modal-one view-bankDetail" tabindex="-1" role="dialog"
  aria-labelledby="myCenterModalLabel" aria-hidden="true" style="display: none;" id="view-bankDetail">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-uppercase" id="myCenterModalLabel"><b>Bank Detail</b></h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div class="col-xl-12 bg-white py-2">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-white bg-danger">
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>IFSC</th>
                  <th>Number</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{bankDetail?.userBankDetailId}}</td>
                  <td>{{bankDetail?.accountHolderName}}</td>
                  <td>{{bankDetail?.ifscCode}}</td>
                  <td>{{bankDetail?.accountNo}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- bank detail -->

<!-- KYC detail -->
<div class="modal fade modal-s1 modal-one view-KYCDetail" tabindex="-1" role="dialog"
  aria-labelledby="myCenterModalLabel" aria-hidden="true" style="display: none;" id="view-KYCDetail">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-uppercase" id="myCenterModalLabel"><b>KYC Detail</b></h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div class="col-xl-12 bg-white py-2">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-white bg-danger">
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>State</th>
                  <th>Date of Birth</th>
                  <th>Doc Number</th>
                  <th>Doc Type</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{kycDetail?.firstName}}</td>
                  <td>{{kycDetail?.lastName}}</td>
                  <td>{{kycDetail?.state}}</td>
                  <td>{{kycDetail?.dob}}</td>
                  <td>{{kycDetail?.docNumber}}</td>
                  <td>{{kycDetail?.docType}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- KYC detail -->

<!-- KYC detail -->
<div class="modal fade modal-s1 modal-one view-profile" tabindex="-1" role="dialog"
  aria-labelledby="myCenterModalLabel" aria-hidden="true" style="display: none;" id="view-profile">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-uppercase" id="myCenterModalLabel"><b>Profile</b></h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div class="col-xl-12 bg-white py-2">
          <div class="table-responsive text-center">
            <!-- <img [src]="http://ec2-65-1-0-48.ap-south-1.compute.amazonaws.com:5000/fancyludo/api/user/aed7bfc3404442f088b2d2fe1cdd2412/download/image_three_1617800151593.jpg"> -->
            <img [src]="imageData">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- KYC detail -->