<div *ngIf="!sitemode" class="maintenance-page text-center">
    <div>
        <h3 class="red text-capitalize">
            <i class="fa fa-user-cog fa-2x"></i>
            <p class="p-3">{{siteMaintenanceMessage}}</p>
        </h3>
    </div>
</div>

<div *ngIf="sitemode">
    <div class="main-content">
        <div class="container-fluid">

            <div class="row justify-content-center">
                <div class="col-md-5 center">
                    <div class="card">
                        <div class="card-header card-header-danger text-center">
                            <!-- <h4 class="card-title text-center">LogIn</h4> -->
                            <img class="img-fluid" src="assets/img/logo.png">
                            <p class="card-category text-light">welcome, please login to your account</p>
                        </div>
                        <div class="card-body">
                            <form (ngSubmit)="doLogin()">
                                <div>
                                    <mat-form-field class="">
                                        <!-- <i class="material-icons">perm_identity</i> -->
                                        <input matInput type="text" placeholder="enter username here" name="username"
                                            [(ngModel)]="model.username" required #email="ngModel">
                                    </mat-form-field>

                                </div>
                                <div>
                                    <mat-form-field class="pass">
                                        <!-- <i class="material-icons">lock</i> -->
                                        <input matInput type="{{passType}}" placeholder="enter password here"
                                            name="pass" [(ngModel)]="model.password" required #password="ngModel">
                                        <span class="eyes">
                                            <i *ngIf="passType != 'password'" (click)="passType = 'password'"
                                                class="material-icons">visibility</i>
                                            <i *ngIf="passType == 'password'" (click)="passType = 'text'"
                                                class="material-icons">visibility_off</i>
                                        </span>
                                    </mat-form-field>
                                </div>
                                <div class="text-center">
                                    <button *ngIf="!disableLogin" mat-raised-button type="submit"
                                        class="btn btn-success col-md-2">Login</button>
                                    <button *ngIf="disableLogin" mat-raised-button type="submit"
                                        class="btn btn-success col-md-2 disabled" disabled>Loading...</button>
                                    <p>all right reserved by Fancyludo</p>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>