.center {   
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.pass{
    position: relative;
}
.icon{
    position: absolute;
    right: 10px;
}
.eyes {
    margin-top: -8px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}
